@inject IStringLocalizer<Home> localizer

<div class="swiper-slide bg-light">
    <div class="raw">
        <div class="col-4 bg-primary">
            <div class="special-offer-column-title-box">
                <h2>@localizer["SpecialOfferSlideChosenOffersTitle"]</h2>
                <h3>@localizer["SpecialOfferSlideJustForYouTitle"]</h3>
            </div>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>

@code {

}
